@charset "utf-8";

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

#wrap{
    width: 1200px;
    height: 700px;
    text-align: center;
    background-color: antiquewhite;
}
#header{
    width: 1200px;
    height: 100px;
    background-color: antiquewhite;
}
#header>#logo{
    width: 200px;
    height: 100px;
    background-color: lightpink;
    float: left;
}
#header>#menu{
    width: 600px;
    height: 100px;
    background-color: lightsalmon;
    float: left;
}
#header>#menu>#gnb>li>a{ /*여기 뭔가 확인 필요.*/
    display: block;
    width: 170px;
    height: 20px;
    background-color: rgb(247, 191, 168);
    float: left;
}
#header>#search{
    width: 400px;
    height: 100px;
    background-color: lavender;
    float: left;
}
#slide{
    width: 1200px;
    height: 300px;
    background-color: antiquewhite;
}
#contents{
    width: 1200px;
    height: 200px;
    background-color: antiquewhite;
}
#contents>#gallery{
    width: 400px;
    height: 200px;
    background-color: lightblue;
    float: left;
}
#contents>#banner{
    width: 400px;
    height: 200px;
    background-color: lightgray;
    float: left;
}
#contents>#shortcut{
    width: 400px;
    height: 200px;
    background-color: lightgreen;
    float: left;
}
#footer{
    width: 1200px;
    height: 100px;
    background-color: antiquewhite;
}
#footer>#logo2{
    width: 300px;
    height: 100px;
    background-color: lightcyan;
    float: left;
}
#footer>#copyright{
    width: 600px;
    height: 100px;
    background-color: lightyellow;
    float: left;
}
#footer>#sns{
    width: 300px;
    height: 100px;
    background-color: lightseagreen;
    float: left;
}